body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

a{
    color: #007BFF;
    font-weight: bold;
    text-decoration: none;   
}

h1 {
    color: #007BFF;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
}