{% extends "base.html" %}
{%load static%}
{% block title %}booking{% endblock title %}
{% block additional_styles %} <link rel="stylesheet" href="{% static "edit.css" %}"> {% endblock additional_styles %} 
{% block body %}
<h1>Marriage Hall Booking Form</h1>
    <form action="editrecord/{{edits.serial_number}}" method="post" >
        {% csrf_token %}
        <label for="serial_number">Serial Number:</label>
        <input type="Number" id="serial_number" name="serial_number" value="{{edits.serial_number}}" readonly><br><br>

        <label for="fname">First Name:</label>
        <input type="text" id="fname" name="fname" value="{{edits.fname}}" required><br><br>

        <label for="lname">Last Name:</label>
        <input type="text" id="lname" name="lname" value="{{edits.lname}}" required><br><br>

        <label for="CNIC">CNIC:</label>
        <input type="text" id="cnic" name="cnic" value="{{edits.cnic}}" required><br><br>

        <label for="events">Events:</label>
        <select name="events" id="dropdownMenu">
            <option value="barat" {% if edits.events == 'barat' %}selected{% endif %}>Barat</option>
            <option value="mehndi" {% if edits.events == 'mehndi' %}selected{% endif %}>Mehndi</option>
            <option value="walima" {% if edits.events == 'walima' %}selected{% endif %}>Walima</option>
            <option value="other" {% if edits.events == 'other' %}selected{% endif %}>Other</option>
        </select>
        

        <label for="amount">Amount for event:</label>
        <input type="text" id="amount" name="amount" value="{{edits.amount}}" required><br><br>

        <label for="date">Date of Event:</label>
        <input type="date" id="date" name="date" value="{{ edits.date|date:'Y-m-d' }}" required><br><br>

        <!-- Add more attributes as needed -->

        <input type="submit" value="edit Booking">
    </form>
    {% endblock body %}